body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.text-heilight{
    color: orange;
}
.half-width{
    width: 49%;
  float: left;
   margin-left: 5px;
   padding-left: 2px;
    
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 150px;
    
}
.link-buttton{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon,tomato );
    color:white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
