body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.text-heilight{
    color: orange;
}
.half-width{
    width: 47%;
  float: left;
   
    margin-left: 20px;
    padding-left: 10px;
    
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 100%;
    padding-bottom: 100px;
}
.link-buttton{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon,tomato );
    color:white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}